*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Libre Baskerville', serif;
}
/* PRITCHARD CAMPUS CALENDER */
.campus{
    height: 100vh;
    padding: 20px 0;
    overflow: hidden;
    /* margin-bottom: -200px; */
}
.odd{
    background-color: #a0bcd4;
    height: 100vh;
}
.even{
    background-color: #fff;
    margin-bottom: -220px;
}
.text{
    position: relative;
    left: 20%;
}
.text h2{
    font-weight: 200;
    font-size: 22px;
    color: #204464;
    letter-spacing: 10px;
    margin-bottom: 20px;
    
}



/* //////////////////////////////////////////// */